* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.quotestion-number h4 {
    /* font-size: 100%; */
    /* font-family: cursive; */
    text-align: center;
    padding: 10px;
}

.exam .pictur table tr td img:active {
    width: 60%;
    height: 60vh;
    background-color: #fac8fd;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pictur {
    overflow: overlay;
    border: 2px solit red;
}

.pictur table {
    width: fit-content;
}

.pictur table tr td {
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.pictur table tr .img-s {
    /* background-color: cadetblue; */
    /* width: 250px; */
    /* height: 200px	 */
}

.pictur table tr .img-s img {
    width: 200px;
    height: 200px;
    padding: 10px;
    transition-duration: .7s;
    cursor: pointer;
}

.exam {
    width: 90%;
    margin: auto;
    margin-bottom: 15px !important;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #f08a8a;
    font-size: 16px;
    background-color: #eaeaea;
}

.t {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.time img {
    width: 20px;
}

.time {
    display: block;
    /* direction: rtl; */
}

.clock {
    margin: 0;
    /* font-family: monospace; */
    font-size: 8px;
}


/* .quotestion-number .links{ */


/* position: absolute; */


/* top: 20px; */


/* right: 15px; */


/* } */

.links span.icon {
    width: 5px;
    height: 2px;
    background-color: black;
    cursor: pointer;
}

.links .icon span {
    width: 4px;
    height: 4px;
    margin: 2px 10px;
    background-color: black;
    display: block;
    border-radius: 50%;
}

.links .icon:active+ul {
    display: block;
}

.links ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    background-color: #9c849c;
    display: none;
    z-index: 5;
}

.links ul li:not(:last-child) {
    border-bottom: 2px solid #f9f8f838;
}

.links ul li {
    color: black;
    /* margin:  5px; */
    padding: 5px;
    /* padding: 20px 5px;	 */
}


/* .links ul li a{ */


/* color: #4f254f; */


/* } */

.links ul li:last-child {
    border-bottom: 2px solid transparent;
}

.links ul li a {
    color: black;
    transition-duration: 0.7s;
}

.links ul li a:hover {
    color: white;
    padding-left: 10px;
}

.u-c {
    /* font-size: 140%; */
    font-weight: 900;
    font-family: unset;
    color: #4f254f;
    padding: 10px;
    text-align: center;
}

.address {
    padding: 20px;
}

.title {
    /* font-family: monospace; */
    border-bottom: 2px solid #cf5579;
    color: #d4567a;
}

.exam .quostion .hm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exam .quostion {
    padding: 20px;
}

.exam .quostion.one:first-child {
    border-bottom: 5px solid black;
    /* border: none; */
}

.exam .quostion:nth-child(3) {
    border-bottom: 2px solid black;
    /* border: none; */
}


/* .exam .quostion:nth-child(3) { */


/* border-bottom: 2px solid black; */


/* border: none; */


/* } */

.exam .quostion h3:after {
    content: ":";
    margin-left: 5px;
}

.exam .quostion .hm .mark {
    border-bottom: 2px solid #cd6363;
    width: 100px;
    direction: rtl;
}

.exam .quostion .aquostions .aquostion {
    width: 90%;
    margin: auto;
}

.exam .quostion .aquostions .aquostion h5:after {
    content: ":";
    margin-left: 5px;
}

.exam .quostion .aquostions .aquostion h5 {
    /* float: left; */
    width: fit-content;
    padding: 10px;
    display: block;
}

.exam .quostion .aquostions .aquostion p {
    padding: 15px;
    word-spacing: 5px;
    line-height: 20px;
    /* font-family: ; */
    font-size: .8em;
}

.exam .quostion .aquostions .trueFalse .t-f {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.exam .quostion .aquostions .trueFalse .t-f span {
    border-bottom: 2px solid #6e476ebd;
}

.exam .quostion .aquostions .aquostion table {
    width: 100%;
    border: 1px solid #f4607f;
    background-color: #eb5d7e;
}

.exam .quostion .aquostions .aquostion table thead {
    text-align: center;
}

.exam .quostion .aquostions .aquostion table thead tr {
    height: 50px;
}

.exam .quostion .aquostions .aquostion table thead tr td {
    background-color: beige;
}

.exam .quostion .aquostions .aquostion table td {
    padding: 20px 5px;
    border: 1px solid #88ebfb;
    background-color: #ffffffbd;
    width: 40%;
}

.exam .quostion .aquostions .aquostion table tbody td:last-child {
    background-color: floralwhite;
    border-bottom: 4px dashed;
    width: 19%;
    text-align: center;
}

.udcsp a img,
.udcsp a h6 {
    display: inline-block;
}

.udcsp a img {
    width: 20px;
}

.udcsp a h6 {
    /* font-size: 1em; */
}

.style .udcsp .images {
    width: 99%;
    margin: auto;
    text-align: center;
    height: auto;
    margin: 1% 1%;
    display: flex;
    gap: 19px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.udcsp .images div {
    display: flex;
}

.udcsp .images .img.commend:hover {
    background-color: #00ffdd;
}

.udcsp .images .img.answer:hover {
    background-color: #00ffdd;
}

.udcsp .images .img.up:hover {
    background-color: #474af5;
}

.udcsp .images .img.down:hover {
    background-color: #ff3d3d;
}

.udcsp .images .img.share:hover {
    background-color: #ff4fca;
}

.udcsp .images .img.answer {
    background-color: #bcf1eaaa;
}

.udcsp .images .img.commend {
    background-color: #bcf1eaaa;
}

.udcsp .images .img.up {
    background-color: #b3b4e2aa;
}

.udcsp .images .img.down {
    background-color: #ffa8a8aa;
}

.udcsp .images .img.share {
    background-color: #e4b2d5aa;
    cursor: alias;
}

.udcsp .images .img {
    width: 23%;
    margin: auto;
    padding: 5px;
    border-radius: 25%;
    box-shadow: 1px 1px 3px 1px #adadb9;
    transition: 0.7s linear;
}

.udcsp .images span,
.udcsp .images div span {
    /* font-family: monospace; */
    font-size: .7em;
}